<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="lula,mock">
    <meta name="author" content="xwartz">
    <meta name="robots" content="index,follow">
    <title>Lula</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/logo.png">
</head>
<body>

<div id="app"></div>

<script>
  window.user = '{{user}}'
</script>

<script>
  (function () {
    const scripts = ['bundle', 'vendor']
    const prevDomain = 'http://localhost:3000/public/'
    // const prevDomain = (process.env.NODE_ENV === 'development') ? 'http://localhost:3000/app/' : '/public/'
    scripts.forEach(function (name) {
      const script = document.createElement('script')
      script.src = prevDomain + name + '.js'
      document.write(script.outerHTML)
    })
  }())
</script>

</body>
</html>
